.nav{
    height:10vh;
    background-color:grey;
}
.header{
    min-height:100vh;
    background-color:lightgrey;
}

.proyectos{
    background-color:grey;
    min-height:100vh;
}
.proyectos__row{
    min-height:100%;
    padding:2rem;
}

.card{
    width:20rem;
    height:30rem;
    background-color:lightgrey;
    margin:2rem;
}

.educacion{
    background-color:grey;
    padding:2rem;
}

.edu__card{
    background-color:lightgrey;
    margin:4rem;
    border-radius:25px;
    width:80%;
    height:20rem;
}

.edu__card--img{
    margin:1rem;
    background-color:grey;
    border-radius:25px;
    height:90%;
}

.habilidades{
    min-height:60vh;
    background-color:lightgrey;
    padding:2rem;
}

.h__row{
    height:100%;
    margin:2rem;
    background-color:grey;
}

.h__col{
    margin:4rem;
    background-color:lightgrey;
    height:300px;
    width:300px;
    border-radius:25px;
}